section.loginScreen
  form.loginScreen__form(action = '/member/login', method = 'post')
    input.form__username(type = 'text', name = 'email')
    input.form__password(type = 'password', name = 'password')
    input.form__submit(type = 'submit', value = '')